<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>简单Vue Demo</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <div id="app">
    {{msg}} {{msg + msg}}
    <div :id="msg"></div>
    <div>
      <todo-list>
        <todo-item 
        v-for="item of list"
        :title="item.title"
        :del="item.del"
        @delete="handleDelete"
        >

        </todo-item>
      </todo-list>
    </div>
  </div>
  <script>
    // todo-item
    Vue.component("todo-item", {
      props: {
        title: String,
        del: Boolean,
        delete: Function
      },
      methods: {
        handleClick() {
          this.$emit('delete', this.title);
        }
      },
      template: `
      <li >
          <span v-if="del">{{title}}</span>
          <span v-else style="text-decoration: line-through;">{{title}}</span>
          <button v-show="del" @click="handleClick">{{title}}</button>
        </li>
      `
    });
    // todo-list
    Vue.component("todo-list", {
      data: () => {
        return {

        }
      },
      template: `
         <ul>
            <slot></slot>
          </ul>
      `,
      methods: {
        
      }
    })
    var vm = new Vue({
      el: "#app",
      data: {
        msg: "Simple Demo",
        list: [
          { title: '课程1', del: false },
          { title: '课程2', del: true },
        ]
      },
      methods:{
        handleDelete(title) {
          this.list = this.list.filter(item => item.title !== title);
        }
      }
    })
  </script>
</body>

</html>