<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model 数据双向绑定 Demo</title>
  <script src="../../assets/vue.js"></script>
</head>

<body>
  <div id="app">
      <p>原始文本信息： {{message}}</p>
      <h3>文本框</h3>
      <p>v-model<input type="text" v-model="message"/></p>
      <p>v-model<input type="text" v-model.lazy="message"/></p>
      <p>v-model<input type="text" v-model.number="message"/></p>
      <p>v-model<input type="text" v-model.trim="message"/></p>

      <textarea cols="30" rows="6"  v-model="message"></textarea>

      <h3>多选绑定一个数组</h3>
      <p>
        <p>
          <label for="JSPang">JSPange</label>
          <input type="checkbox" id="JSPang" value="JSPang1" v-model="web_Names"/>
          <label for="Panda">Panda</label>
          <input type="checkbox" id="Panda" value="Panda2" v-model="web_Names"/>
          <label for="PanPan">PanPan</label>
          <input type="checkbox" id="PanPan" value="PanPan3" v-model="web_Names"/>
          <p>{{web_Names}}</p>
        </p>
      </p>


      <h3>单选框按钮绑定数据</h3>
      <p>
        <p>
          <label for="JSPang">男</label>
          <input type="radio" id="JSPang" value="man" v-model="sex"/>
          <label for="Panda">女</label>
          <input type="radio" id="Panda" value="falman" v-model="sex">
  
          <p>{{sex}}</p>
        </p>
      </p>

  </div>

  <script type="text/javascript">
  // 绑定数据源，把数据绑定到特定的表单元素 实现双向数据绑定

    var vm = new Vue({
      el: "#app",
      data() {
        return {
          message: "hello vue!",
          web_Names: [],
          sex: ''
        }
      }, 
      methods: {
        
      }
    })
  </script>
</body>

</html>